.bottom__option {
  display: flex;
  margin-bottom: 10px;
}

.sidebar__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.sidebar__option > h2 {
  font-size: 17px;
  font-weight: 500;
}

.sidebar__option > h6 {
  font-size: 13px;
  font-weight: 400;
  color: gray;
}

.bottom__option > .follow {
  color: #0f9bf7;
  cursor: pointer;
  font-size: small;
  margin-left: 150px;
  font-weight: 400;
}

.sidebar__option > h2:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}
